.container{
    width: 400px;
    height: auto;
    margin: 100px auto;
    text-align: center;
}
.f1{
    font-family: 'DM Serif Display', serif;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 60px;
    margin-bottom: -5px;
}

.text{
    width: 75%;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid lightgray;
    position: relative;
}

.text::placeholder{
    font-family: 'DM Serif Display', serif;
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
    position: absolute;
}

.text1{
    margin-top: 10px;
}
.alone{
    position: absolute;
    left: 490px;
    top: 353px;
      
}

.btn{
    background-color: black;
    color: white;
    border-radius: 25px;
    width: 50%;
    height: 45px;
    margin-top: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}

.blur{
    color: lightgray;  
    font-size: xx-small;
}

.lined{
    text-decoration: underline;
    color: rgb(15, 15, 15);
}
.forgot{
    font-size:x-small;
    margin: top 20px;
}

#pass{
    margin-top: -10px;
}

.footer{
    margin-top: -10px;
}

.footer-line{
    text-decoration: underline;
}

.footer1{
    margin-top: 30px;
}

